# Mousing
set -g mouse on
bind -T root WheelUpPane   if-shell -F -t = "${alternate_on}" "send-keys -M" "select-pane -t =; copy-mode -e; send-keys -M"
bind -T root WheelDownPane if-shell -F -t = "${alternate_on}" "send-keys -M" "select-pane -t =; send-keys -M"

# History
set -g history-limit 30000

# No delay hitting escape
set -sg escape-time 0

# Copy/paste
bind-key -T copy-mode-vi y send -X copy-pipe "{{ home }}/bin/pbcopy"
bind-key p run "{{ home }}/bin/pbpaste | tmux load-buffer - ; tmux paste-buffer"

# Easier movement across panes
bind-key h select-pane -L
bind-key j select-pane -D
bind-key k select-pane -U
bind-key l select-pane -R

# Status bar up top
set-option -g status-position top

# Colored underscores, see https://michenriksen.com/posts/italic-text-in-alacritty-tmux-neovim/
set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'  # colored underscores

set-option -sa terminal-features ',alacritty:RGB'
set-option -sa terminal-features ',xterm-kitty:RGB'
set-option -sa terminal-features ',foot:RGB'
set -g update-environment 'DISPLAY SSH_ASKPASS SSH_AGENT_PID SSH_CONNECTION WINDOWID XAUTHORITY TERM'

# Reload .tmux.conf with C-b r
bind-key r source-file ~/.config/tmux/tmux.conf

# Vi!
set-window-option -g mode-keys vi

# For neovim
set -g focus-events on

# tpm plugins to use
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'wfxr/tmux-power'

set -g @tmux_power_theme 'default'

# run tpm
run '~/.config/tmux/plugins/tpm/tpm'
