{% if is_mac %}
# Undo any inherited PATH changes since on MacOS /usr/libexec/path_helper reorders
# PATH in subshells. Thanks for your "help" with paths, Apple! You earned a Clippy.
for path_component in $PATH
    string match -r "(^$HOME|homebrew)" $path_component > /dev/null
        or set macpath $macpath $path_component
end
set PATH $macpath
set -e macpath
if test -x /opt/homebrew/bin/brew
	eval (/opt/homebrew/bin/brew shellenv fish)
end
{% endif %}

# Enable certain keybindings
functions -q fish_vi_key_bindings; and fish_vi_key_bindings
functions -q fzf_key_bindings; and fzf_key_bindings
{% if is_mac %}
and bind -M insert 'ç' fzf-cd-widget
{% endif %}

# Locale
for var in LC_ALL LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT LC_IDENTIFICATION
    set -gx $var en_US.UTF-8
end

# Pager and terminal
set -gx LESS '-FRX'
set -gx PAGER less
{% if is_mac %}
set -gx EDITOR vise
{% else %}
set -gx EDITOR vis
{% endif %}
set -gx VISUAL $EDITOR
command -q lesspipe.sh
    and set -gx LESSOPEN '|lesspipe.sh %s'
    and set -gx LESSQUIET true
if command -q bat
    set -gx BAT_PAGER $PAGER
    set -gx PAGER bat
    set -gx MANPAGER "sh -c 'col -b | bat -l man -p'"
    set -gx MANROFFOPT -c
end

# Make use of fzf preview for CTRL-T and ALT-C
if functions -q fzf_key_bindings
    command -q bat
        and set -gx FZF_CTRL_T_OPTS '--preview "test -f {}; and bat --style plain --color always --line-range :50 {}; or tree -C {} | head -50"'
        or  set -gx FZF_CTRL_T_OPTS '--preview "test -f {}; and head -50 {}; or tree -C {} | head -50"'
    set -gx FZF_ALT_C_OPTS '--preview "tree -C {} | head -50"'
end

# BC
set -gx BC_ENV_ARGS $HOME/.bcrc

{% if is_linux %}
# Java
set -gx _JAVA_AWT_WM_NONREPARENTING 1
{% endif -%}

# Android
test -d /opt/android-studio
    and set -gx ANDROID_HOME /opt/android-studio
or test -d $HOME/Applications/AndroidSDK
    and set -gx ANDROID_HOME $HOME/Applications/AndroidSDK
    and set -gx ANDROID_SDK $ANDROID_HOME
if test -n "$ANDROID_HOME"
    set -gx ANDROID_EMULATOR_USE_SYSTEM_LIBS 1
    test -x $ANDROID_HOME/bin
        and not contains $ANDROID_HOME/bin $PATH
        and set -gx PATH $PATH $ANDROID_HOME/bin
end

# Go
set -gx GOPATH $HOME/src/go
set -gx GOBIN $GOPATH/bin
test -x $GOPATH/src
    or mkdir -p $GOPATH/src
test -x $GOBIN
    or mkdir -p $GOBIN
test -x $GOBIN
    and not contains $GOBIN $PATH
    and set -gx PATH $PATH $GOBIN

test -d $HOME/src
    and for cdp in (find -L $HOME/src -mindepth 1 -maxdepth 1 -type d)
        if not contains $cdp $CDPATH
            set -gx CDPATH $cdp $CDPATH
        end
    end

contains . "$CDPATH"
    or set -gx CDPATH . $CDPATH

for bindir in /snap/bin /opt/local/bin /usr/local/sbin /usr/local/bin $HOME/.cargo/bin $HOME/.local/bin $HOME/bin
    if test -d $bindir
        if not contains $bindir $PATH
            set -gx PATH $bindir $PATH
        end
    end
end
test -d $HOME/Applications
    and for appdir in (find -L $HOME/Applications -mindepth 2 -maxdepth 2 -type d -name bin | sort -r)
        if not contains $appdir $PATH
            set -gx PATH $appdir $PATH
        end
    end

if status is-login
    # Terminal theme
    command -q console-dracula-theme
        and console-dracula-theme
    command -q theme.sh
        and test -e ~/.theme_history
        and theme.sh (theme.sh -l|tail -n1)

    # Prompts worth having
    command -q starship
        and starship init fish | source
end
