" vim:ft=vim

if empty(glob('{{ home }}/.local/share/nvim/site/autoload/plug.vim'))
  silent !curl -fLo '{{ home }}/.local/share/nvim/site/autoload/plug.vim' --create-dirs 'https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
  autocmd VimEnter * PlugInstall --sync
  source {{ home }}/.config/nvim/init.vim
endif

" Truecolor support; see https://github.com/tmux/tmux/issues/1246
if exists('+termguicolors')
  set termguicolors
endif

call plug#begin('{{ home }}/.local/share/nvim/plugged')
  Plug 'editorconfig/editorconfig-vim'
  Plug 'pedrohdz/vim-yaml-folds'
  Plug 'ryanoasis/vim-devicons'
  Plug 'sheerun/vim-polyglot'
  Plug 'tpope/vim-fugitive'
  Plug 'tpope/vim-repeat'
  Plug 'tpope/vim-surround'
  Plug 'vim-airline/vim-airline'
  Plug 'vim-airline/vim-airline-themes'
  Plug 'Yggdroot/indentLine'
  Plug 'kmonad/kmonad-vim'
  Plug 'HiPhish/jinja.vim'
  Plug 'neoclide/coc.nvim', {'branch': 'release'}
call plug#end()

" @yaegassy/coc-ansible
let g:coc_filetype_map = { 'yaml.ansible': 'ansible', }

set background=dark
colorscheme default

set listchars=eol:⏎,tab:␉·,trail:␠,nbsp:⎵,extends:≻,precedes:≺
set modeline

set noexpandtab

"
" Various settings from https://stevelosh.com/blog/2010/09/coming-home-to-vim/
"
set autoindent
set backspace=indent,eol,start
set cursorline
set encoding=utf-8
set foldlevelstart=99
set hidden
set hlsearch
set ignorecase
set incsearch
set laststatus=2
set relativenumber
set ruler
set scrolloff=3
set showcmd
set showmatch
set showmode
set smartcase
set undodir={{ home }}/.local/share/undofiles
set undofile
set visualbell
set wildmenu
set wildmode=list:longest

au BufWritePre /tmp/* setlocal noundofile " From `:help undo-persistence`
nnoremap / /\v
vnoremap / /\v
nnoremap <tab> %
vnoremap <tab> %
inoremap <F1> <ESC>
nnoremap <F1> <ESC>
vnoremap <F1> <ESC>
" Split navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
" While typing in insert mode, type 'jj' to quickly go back to normal mode
inoremap jj <ESC>
"
" END various settings from
" https://stevelosh.com/blog/2010/09/coming-home-to-vim/, leader stuff is below
"

"" Leader shortcuts
let mapleader = " "

" Stop highlighting
nnoremap <leader><space> :noh<cr>

" Back/forward buffers when using g* commands to jump around between files
nnoremap <leader>H :bprevious<CR>
nnoremap <leader>L :bnext<CR>

" FZF
nnoremap <leader>O :FZF<CR>

" Vertial/horizontal split with FZF to search for a new file to open
nnoremap <leader>vo <C-w>v<C-w>l<CR>:FZF<CR>
nnoremap <leader>vO <C-w>v<C-w>l<CR>:FZF {{ home }}<CR>
nnoremap <leader>ho <C-w>s<C-w>l<CR>:FZF<CR>
nnoremap <leader>hO <C-w>s<C-w>l<CR>:FZF {{ home }}<CR>

" Toggle showing/hiding list characters
nnoremap <leader>l :set invlist<CR>

" coc settings and key mappings
source {{ home }}/.config/nvim/coc.vim

" If there is a local settings file, load it last so it wins
if filereadable('{{ home }}/.config/nvim/site.vim')
  source {{ home }}/.config/nvim/site.vim
endif
