font_family			{{ kitty_font_family[ansible_facts.distribution] }}
font_size			14
bold_font			auto
italic_font			auto
bold_italic_font	auto

include dracula.conf

{% if is_mac %}
shell login -f {{ ansible_user_id }}
{% else %}
shell /bin/bash --login
{% endif %}
